.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.header {
  margin: 0 auto;
  width: 70%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #000000;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 20px; 
  color: #ffffff;
  font-weight: bold;
}

.statesLogo {
  width: 120px;
  height: 25px; 
}

.share {
  color: #979797;
  font-size: 16px; 
  font-weight: 400;
  margin: 0;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.shareButton {
  background-color: #3370FF;
  color: white;
  border: none;
  padding: 8px 12px; 
  border-radius: 25px;
  font-size: 16px; 
  width: auto; 
  cursor: pointer;
}

.loginButton {
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 8px; 
  padding: 8px;
  border-radius: 25px;
  min-width: 100px; /* Minimum width */
  max-width: 190px; /* Maximum width */
}

.userName {
  color: #000000;
  font-size: 16px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  flex-grow: 1;
}

.loginLogo{
  width: 40px; 
  height: 25px; 
  margin-left: auto;
}


.loginButton .userName {
  padding-right: 8px; 
}

.loginButton {
  width: auto; 
}

.gradientStripes {
  position: fixed;
  top: 60px; 
  width: 100%;
  z-index: 999;
}

.gradientStripe {
  height: 10px; 
  margin: 0 auto;
  width: 100%; 
}









/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 10px;
  }
  .loginButton {
    padding: 2px 8px; 
  }
  .userName {
    font-size: 11px;
  }
.loginLogo{
  width: 30px;
  height: 18px;
}

  .shareButton {
    padding: 6px 12px;
    font-size: 14px;
  }

  .share {
    display: none;
  }

  .gradientStripes {
    width: 100%;
    top: 50px;
  }
}

@media (max-width: 400px) {
  .header {
    width: 100%;
    padding: 5px;
  }
  .statesLogo{
    width: 80%;
  }
  .shareButton {
    padding: 3px 8px;
    font-size: 7px;
  }
  
  .loginButton {
    padding: 2px 2px; 
  }
  
  .userName {
    font-size: 6px;
  }

  .loginLogo{
    width: 20px;
    height: 10px;
  }
  .gradientStripes {
    width: 100%;
    top: 40px;
  }
}
