@font-face {
  font-family: 'Druk Wide Bold';
   src: url('/fonts/DrukWideBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
font-size: 30px;
}

h2{
  src: url('/state-s/public/fonts/DrukWideBold.ttf') format('truetype');
  font-style: normal;
  font-family: 'Druk Wide Bold', sans-serif;
}

span{
  src: url('/state-s/public/fonts/DrukWideBold.ttf') format('truetype');
  font-style: normal;
  font-family: 'Druk Wide Bold', 'Montserrat';
}

p{
  font-family: 'Montserrat', sans-serif;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
}

.content {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px; /* Высота хедера */
}

@media (max-width: 768px) {
  .content{
    width: 90%;
    margin: 0 auto;
  }
}

/* @media (max-width: 768px) {
  body{
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 268px) {
  body{
    width: 100%;
    margin: 0 auto;

  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

