


.mainPage{
  /* width: 90%; */
}



.header {
  text-align: center;
  position: relative;
  padding: 20px;
  /* background-color: #000; */
  color: #fff;
  /* width: 100%; */

}
.mainBanner{
  width: 100%;

}
.title {
  font-size: 3rem;
  margin: 0;
}

.date {
  font-size: 1.2rem;
  color: rgb(255, 0, 0);
  position: absolute;
  bottom: 48px;
  right: 140px;
}

/* components/Album.module.css */
.artistContainer{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.album {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #fff;
}


.albumTitle {
  font-size: 60px;
  margin: 0;
  color: #FF0000;
}

.reactionsCount {
  font-size: 1rem;
  color: #aaa;
}

.countSpan{
  font-weight: bold;
  color: white;
}

.avatar{
  float:left; 
}





.secondTitle{
  
padding: 30px 0 30px 0;
}

.reactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  /* background-color: #000; */
}

.reactionItem {
  text-align: center;
  color: #fff;
  flex: 1 0 30%; /* Ensure 3 items per row */
  max-width: 30%; /* Ensure 3 items per row */
  box-sizing: border-box;
}

.reactionImage {
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
  aspect-ratio: 1; /* Maintain a square aspect ratio */
}

.reactionName {
  margin-top: 5px;
  font-size: 0.9rem;
  white-space: nowrap; /* Prevent name from wrapping */
  overflow: hidden; /* Hide overflow if name is too long */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
}




.videoBox{
  padding: 100px;
}


.videoGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.videoGrid > * {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
}